@import 'styles-globaux.css';

h1{ color: red; text-decoration : underline }
p { color: green; }
#idP1 { color: blue; }
#idSection1 { font-style : italic ; }
ol li { text-decoration : underline; }
ul li { font-style : italic ; }

.enEvidence { text-decoration: underline; }