@import 'styles-globaux.css';

body { background-color : lightgrey; }
/*
label { width:8em; display: inline-block; } 
*/
.enEvidence { font-weight: bold; }

option[selected] { color : red; }

caption { text-decoration : underline; font-weight : bold; }

.auCentre { text-align: center ; }
.assezLarge { width : 80% }

.cadre{ border-color : black;
		border-width : 1px;
		border-style : solid; }
table.auCentre { margin: auto; }

.pair { background-color : rgb(248, 206, 128); }
.impair { background-color : rgb(154, 231, 231); }
thead th { background-color : yellow; font-size : larger; }

#divA{
		border-color : green;
		border-width : 3px;
		border-style : solid;
		margin : 0.5em;
		padding : 1em;
		background-color : yellow;
		color : blue;
		font-family : Arial;
		font-size: 2em;
		text-transform : uppercase;
	}